@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
  height: 100vh;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.nav-bar {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  background-color: black;
  height: 7% !important;
  align-items: center;
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.nav-bar a {
  text-decoration: none;
}

.left h3 {
  font-family: "Fjalla One", sans-serif !important;
  cursor: pointer;
}

.left, .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  flex: 20%;
  justify-content: flex-start;
  margin-left: 2%;
  color: white;
}
.left a {
  text-decoration: none;
  color: white;
}

.right {
  flex: 80%;
  margin-left: 40.5%;
  justify-content: flex-start;
  gap: 2.2em;
}
.right h3 {
  font-size: 0.85em;
  cursor: pointer;
  opacity: 0.45;
  transition: 0.35s ease;
  letter-spacing: 3px;
  color: white;
}
.right h3:hover {
  opacity: 1;
}
.right #one {
  opacity: 1;
}

@media screen and (max-width: 1220px) {
  .right {
    margin-left: 5% !important;
  }
}
@media screen and (max-width: 931px) {
  .right {
    margin-left: 0% !important;
  }
}
.strike {
  text-decoration: line-through;
  -webkit-text-decoration-color: red;
          text-decoration-color: red;
  opacity: 1 !important;
}

.onee {
  text-decoration: line-through;
  -webkit-text-decoration-color: red;
          text-decoration-color: red;
}

h3 {
  transition: 1.2s all ease !important;
}

.carousel {
  margin-top: 3%;
  margin-left: 1.8%;
  display: flex;
  gap: 0.75em;
  height: 87.6%;
  width: 100vw;
  border-radius: 1px;
}
.carousel .carousel-one {
  height: 100%;
  width: 25%;
  cursor: pointer;
}
.carousel .carousel-one video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel .carousel-two {
  height: 100%;
  width: 13.25%;
  cursor: pointer;
}
.carousel .carousel-two img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel div {
  filter: grayscale(80%);
}
.carousel div:hover {
  filter: grayscale(0);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  width: 20%;
}

::-webkit-scrollbar-thumb {
  background: grey !important;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-corner {
  display: none;
}

@media screen and (min-width: 1220px) and (max-width: 1344px) {
  .right {
    margin-left: 34.5%;
  }
}
.small {
  width: 13.25%;
}

.large {
  width: 25%;
}

.carousel-two:hover, .carousel-one:hover {
  width: 25%;
}

.carousel-two, .carousel-one {
  transition: 2s ease;
  transition-delay: 0.45s;
}

@media screen and (max-width: 790px) {
  .check {
    color: white;
    cursor: pointer;
    display: block !important;
  }
  #check {
    display: none;
  }
  .right h3 {
    display: none;
  }
  .right {
    flex: 50%;
    justify-content: flex-end;
    gap: 2.2em;
    margin-right: 2.5%;
  }
  .right h3 {
    font-size: 0.85em;
    cursor: pointer;
    opacity: 0.45;
    transition: 0.35s ease;
    letter-spacing: 3px;
    color: white;
  }
  .right h3:hover {
    opacity: 1;
  }
  .right #one {
    opacity: 1;
  }
  .left {
    flex: 50%;
  }
}
#check, .check {
  display: none;
}

.menu {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 100vh;
  width: 100%;
  background-color: black;
  top: 50px;
  left: -200%;
  position: fixed;
  text-align: center;
  transition: 1.4s all ease;
}
.menu .column {
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: white;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 35%;
  left: 50%;
  font-size: 1.5rem;
  transform: translate(-50%, -20%);
}
.menu .column h3 {
  display: block;
}
.menu .footer {
  display: flex;
  color: white;
  position: fixed;
  bottom: 34px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menu .footer i {
  margin-right: 3%;
}
.menu .footer h2 {
  margin-right: 20%;
}

#check:checked ~ .menu {
  left: 0;
}

@media screen and (max-width: 1300px) {
  #car-four, #car-five, #car-six {
    display: none;
  }
  #car-one, #car-two, #car-three {
    width: 70%;
  }
  .carousel-one {
    margin-left: 2%;
  }
  .text {
    bottom: 160px !important;
    left: 30px !important;
  }
}
@media screen and (max-width: 650px) {
  #car-two, #car-three {
    display: none;
  }
  #car-one {
    width: 95vw;
  }
  .text {
    bottom: 105px !important;
    left: 25px !important;
  }
  .text {
    opacity: 1 !important;
  }
  .red-line {
    margin-top: 4.95% !important;
  }
}
.text {
  color: rgb(231, 212, 212);
  position: absolute;
  bottom: 105px;
  left: -5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 1.65%;
  transition: 0.7s ease all;
  font-family: "Poppins", sans-serif;
  opacity: 0;
  z-index: 999;
}
.text h4 {
  font-size: 0.75em;
}

.text1 {
  color: rgb(246, 238, 238);
  position: absolute;
  bottom: 105px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 1.65%;
  transition: 0.7s ease all;
  font-family: "Poppins", sans-serif;
  opacity: 0;
  z-index: 999;
}
.text1 h4 {
  font-size: 0.75em;
}

.red {
  transition: 0.4s ease-in;
}
.red:hover {
  color: rgb(250, 19, 19);
}

.red-line {
  background-color: red;
  height: 3px;
  margin-left: 1.85%;
  margin-top: 3%;
  opacity: 0.74;
  -webkit-animation: 5.2s ease liner infinite;
          animation: 5.2s ease liner infinite;
}

@-webkit-keyframes liner {
  0% {
    width: 0%;
  }
  50% {
    width: 90vw;
  }
  100% {
    width: 0%;
  }
}

@keyframes liner {
  0% {
    width: 0%;
  }
  50% {
    width: 90vw;
  }
  100% {
    width: 0%;
  }
}
